body{
  margin: 0;
  padding: 0;
  background-color: bisque;
  background-image: url(spotifypictures/spotifybg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat";

}
  .Logo img{
  width: 70%;
  max-width: 250px;
  margin: 20px auto;
  display: block;

}
.biography{
  margin: 20px auto;
  padding: 10px;
  max-width: 90%;
}

h2{
  color: rgb(140, 222, 140);
  text-align: center;
  font-size: 1.5rem;
}

p{
  color: white;
  line-height: 1.6;
  font-size: 0.9rem;
  margin: 10px auto;
  max-width: 90%;
  text-align: justify; 
}

